.m-tab-control {
	
}

.m-tab-control .padding-wrap{
	padding: 0 10px 10px;
}

.m-tab-control .header-zone{
	margin: 10px 0px;
}

.m-tab-control .header-zone .filter-zone form{
	display: inline;
}

.m-tab-control .header-zone .filter-zone span{
	padding-right: 15px;
}

.m-tab-control .header-zone .J_add{
	float: right;
}

.J_popwin_tab_control_add{
	padding-bottom: 10px;
	text-align: center;
}
.J_popwin_tab_control_add .cate{
	margin: 10px 0;
}
.J_popwin_tab_control_add input{
	vertical-align: middle;
}
.J_popwin_tab_control_add .txt{
	display: inline;
	width: 300px;
}
.J_popwin_tab_control_add .txtname{
	width: 80px;
	display: inline-block;
}