.m-card-control {
	
}

.m-card-control .padding-wrap{
	padding: 0 10px 10px;
}

.m-card-control .header-zone{
	margin: 10px 0px;
}

.m-card-control .header-zone .filter-zone form{
	display: inline;
}

.m-card-control .header-zone .filter-zone span{
	padding-right: 15px;
}

.m-card-control .header-zone .J_add{
	float: right;
}


.J_popwin_card_add .cate{
	margin: 10px 0;
}
.J_popwin_card_add input{
	vertical-align: middle;
}
.J_popwin_card_add .txt{
	display: inline;
	width: 300px;
}
.J_popwin_card_add .txtname{
	width: 80px;
	display: inline-block;
}

.J_popwin_card_add .btn-zone{
	text-align: right;
}